BasedOnStyle: Google

ColumnLimit: 120
IndentWidth: 2
ContinuationIndentWidth: 2

AlignAfterOpenBracket: BlockIndent
PenaltyReturnTypeOnItsOwnLine: 10000
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false

DerivePointerAlignment: false
PointerAlignment: Right