Checks:
- 'bugprone-*'
- 'clang-analyzer-*'
- 'concurrency-*'
- 'google-*'
- 'linuxkernel-*'
- 'llvm-*'
- 'misc-*'
- 'modernize-*'
- 'performance-*'
- 'readability-*'
- 'portability-*'
- '-clang-diagnostic-undefined-internal'
- '-google-readability-casting'
- '-google-readability-braces-around-statements'
- '-llvm-header-guard'
- '-misc-use-anonymous-namespace'
- '-modernize-use-trailing-return-type'
- '-modernize-use-auto'
- '-modernize-deprecated-headers'
- '-modernize-use-nullptr'
- '-modernize-avoid-c-arrays'
- '-readability-function-cognitive-complexity'
ExtraArgs: ['-Ideps/libuv/include']
CheckOptions:
  readability-identifier-length.IgnoredParameterNames: '^L$'
  readability-identifier-length.IgnoredVariableNames: '^(L|fd)$'
  readability-braces-around-statements.ShortStatementLines: 3